.edit-modal{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.parent-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}   
.Table-head{
    background-color: cornflowerblue;
}
